/*VARIABLES*/
:root{
    --color-primario: #FCB03B; 
    --color-secundario: #E92F3B;
    --color-background: #EFF6F5;
    --color-texto: #A1A5A6;
    --text-default: 'Open Sans';
}

/*GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*respetar bordes que le pongo*/
    font-family: var(--text-default), Arial, sans-serif;
}

body{
    background: var(--color-background);
}

.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;  /*todo mayúscula*/
    letter-spacing: 1px; /*cada letra se separe 1px*/
    font-weight: 600;
}
.subtitulos{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase; 
    font-weight: 400;
    color: var(--color-primario);
}
.btn{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
    background: var(--color-primario);
    font-weight: 700;
    padding: 15px 30px; /*arriba abajo, a los lados */
    outline: none;/*línea de afuera*/
    border: 2px solid var(--color-primario);
    cursor: pointer;
    position: relative; /*colocar cuanto deseo que se separe del resto obj */
    top: 20px;
    transition: all 0.3s;
}
.btn span{
    padding-left: 10px;
}
.btn:hover{
    padding: 15px 45px;
}



/*MENU PRINCIPAL*/
.menu-principal{
    width: 100%;
    display: flex;/*elementos unos al lado del otro*/
    justify-content: space-between;/*espacio entre ellos*/
    align-items: center;/*alineado verticalmente en el centro*/
    height: 75px;
    padding: 0 30px;
    margin-top: 10px;
    background: var(--color-background);  /*dispositivos móviles*/
    z-index: 1; /*una capa más adelante elementos*/
}

.logo img{
    width: 130px;
    cursor: pointer;
}

.menu-bar{
    display:flex; 
    width: 100%;
    justify-content: space-between;
}
.menu-bar .enlaces ul li{
    display: inline-block;  /*aparezca uno al lado del otro*/
    padding: 0 10px; /*separarlos */
}
.menu-bar .enlaces ul li a{  /*aplicar estilos*/
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 600;

    background: linear-gradient(currentColor, currentColor);/*creando línea bajo el texto*/
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.5s;
}
.menu-bar .enlaces ul li a:hover{
    color: var(--color-secundario);
    background-size: 50% 2px;
}

.menu-bar .sociales a{
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-texto);
    transition: all 0.5s;
}
.menu-bar .sociales a:hover{
    color: var(--color-secundario);
}


/*SLIDER DE PRODUCTOS*/