<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/logo.png">

    <title>World Pizza</title>
</head>
<body>
    <!--MENÚ PRINCIPAL-->
    <div class="menu-principal">
        <div class="logo" id="logo">
            <img src="../img/logo.png" alt="Logo World Pizza">
        </div>

        <div class="menu-bar" id="menuBar">
            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Equipo</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>

            </nav>

            <div class="sociales">
                <a href=""><span class="fab fa-facebook"></span></a>
                <a href=""><span class="fab fa-instagram"></span></a>    
                <a href=""><span class="fab fa-twitter"></span></a>
                <a href=""><span class="fab fa-youtube"></span></a>
            </div>

        </div>

        
    </div>

    <!--SLIDER DE PRODUCTOS-->
    <section id="menu-productos">
        <div class="contenedor-principal">
            <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

            <div class="slider">
                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Peperonni</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Consequuntur obcaecati corrupti quos, itaque hic eligendi placeat
                              vero aperiam vitae facere rem cupiditate eius. </p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/menu/peperoni.png" alt="Pizza Peperonni">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Especial</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Consequuntur obcaecati corrupti quos, itaque hic eligendi placeat
                              vero aperiam vitae facere rem cupiditate eius. </p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/menu/especial.png" alt="Pizza Especial">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>básico</b></h2>
                        <h1>Margarita</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Consequuntur obcaecati corrupti quos, itaque hic eligendi placeat
                              vero aperiam vitae facere rem cupiditate eius. </p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/menu/margarita.png" alt="Pizza Margarita">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Americana</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Consequuntur obcaecati corrupti quos, itaque hic eligendi placeat
                              vero aperiam vitae facere rem cupiditate eius. </p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/menu/americana.png" alt="Pizza Americana">
                    </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Producto <b>especial</b></h2>
                        <h1>Suprema</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Consequuntur obcaecati corrupti quos, itaque hic eligendi placeat
                              vero aperiam vitae facere rem cupiditate eius. </p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/menu/suprema.png" alt="Pizza Suprema">
                    </div>
                </div>

            </div>

            <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
        </div>

    </section>


    <script src="../js/app.js"></script>
</body>
</html>